<footer class="footer p-sm-5">
    <div class="container">
        <div class="row pt-sm-3 mt-sm-3">
            <div class="col-sm-12 text-center">
                <a href="index.html" class="site-brand footer-site-brand font-weight-bold ls-40">MINI<span>LAB</span></a>
            </div>
        </div>
        <div class="row pb-sm-3 mb-sm-3">
            <div class="col-sm-6 col-lg-3">
                <h4 class="footer-widget-title ls-20">FEATURES</h4>
                <ul class="footer-links list-unstyled ls-20">
                    <li class="link-item"><a href="#">Live chat</a></li>
                    <li class="link-item"><a href="#">Email Marketing</a></li>
                    <li class="link-item"><a href="#">User Analytics</a></li>
                    <li class="link-item"><a href="#">Marketing</a></li>
                    <li class="link-item"><a href="#">Automation</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 class="footer-widget-title ls-20">RESOURCES</h4>
                <ul class="footer-links list-unstyled ls-20">
                    <li class="link-item"><a href="#">Watch A Demo</a></li>
                    <li class="link-item"><a href="#">Docs</a></li>
                    <li class="link-item"><a href="#">Integrations & API</a></li>
                    <li class="link-item"><a href="#">IOS And Android Apps</a></li>
                    <li class="link-item"><a href="#">Status</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 class="footer-widget-title ls-20">COMPANY</h4>
                <ul class="footer-links list-unstyled ls-20">
                    <li class="link-item"><a href="#">About</a></li>
                    <li class="link-item"><a href="#">Customers</a></li>
                    <li class="link-item"><a href="#">Careers</a></li>
                    <li class="link-item"><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4 class="footer-widget-title ls-20">CONTACT</h4>
                <ul class="footer-links list-unstyled ls-20">
                    <li class="link-item"><a href="mailto:support@domain.com" class="break-word">support@domain.com</a></li>
                </ul>
                <ul class="socials d-inline-flex list-unstyled">
                    <li class="social-item"><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/slick.min.js"></script>
<!-- <script src="{{root}}assets/js/util/autoPadding.js"></script> -->
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
