<header class="site-header fixed-top initial">
    <div class="container">
        <div class="row row-fluid-xl">
            <div class="col-12">

                <nav class="navbar navbar-expand-lg navbar-light js-header px-0">
                    <!-- Brand Logo -->
                    <a href="index.html" class="site-brand font-weight-bold">MINI<span>LAB</span></a>

                    <!-- Hamburgur icon -->
                    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbars-default" aria-controls="navbars-default" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Main/Top Nav -->
                    <div class="collapse navbar-collapse" id="navbars-default">
                        <ul class="navbar-nav ml-auto align-items-center">
                            <li class="nav-item">
                                <a class="nav-link active" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="projects.html">Our Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact us</a>
                            </li>
                            <li class="nav-item">
                                <a id="searchOpen" class="nav-link pr-0" href="#"><i class="fas fa-search" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>
    </div>
</header>

<!-- Search Form -->
<div class="search-form d-flex justify-content-center align-items-center">
    <div class="container">
        <form action="#" class="row">
            <div class="col-11 col-lg-8 mx-auto">
                <h3>Search Here
                    <a href="#" class="close float-right" id="searchClose">
                        <i class="fas fa-times"></i>
                    </a>
                </h3>
                <div class="input-wrapper position-relative text-center">
                    <input type="text" class="form-control rounded-40 font-weight-bold mb-4 mb-md-0 ml-0" name="search" id="search" placeholder="Enter Keywords..." required>
                    <button class="btn btn-primary font-weight-bold border-0 rounded-40">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>