// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
    @include bg-grad;
    border-top: 1px solid $gray-100;

    .footer-widget-title {
        color: $white;
        font-size: 25px;
        font-weight: $font-weight-semibold;
        line-height: 46px;
        margin-top: 35px;
        margin-bottom: 15px;
        @include media-breakpoint-up(lg) {
            margin-top: 70px;
            margin-bottom: 45px;
        }
    } //.footer-widget-title

    .footer-links {
        margin-bottom: 26px;

        .link-item {
            a {
                color: $white;
                font-size: 26px;
                font-weight: $font-weight-light;
                line-height: 47px;
            }
        } //.link-item

        .break-word {
            @include media-breakpoint-down(lg) {
                word-wrap: break-word;
            }
        } //.break-word
    } //.footer-links

    .socials {
        .social-item {
            a {
                color: $white;
                font-size: 38px;
                margin-right: 25px;
            }
        } //.social-item
    } //.socials
}
