// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.site-brand {
    color: #172236;
    font-size: 50px;
    line-height: 50px;

    span {
        color: $white;
        @include media-breakpoint-up(sm) {
            color: $primary;
        }
    } //span

    &.footer-site-brand {
        line-height: 120px;
        span {
            color: $white;
        } //span
    } //&.footer-site-brand

    &:hover {
        text-decoration: none;
        color: initial;
    } //&:hover
} //.site-brand

.navbar {
    // padding: .5rem 2rem;
    .navbar-nav {
        .nav-link {
            color: $white;
            font-size: 22px;
            letter-spacing: -.40px;
            // line-height: 121px;
            line-height: 50px;
            padding: 10px 30px;
        } //.nav-link
    } //.navbar-nav

    .navbar-collapse {
        @include media-breakpoint-down(md) {
            @include bg-grad;
            padding: 35px 0 15px;
            transition-duration: .15s;
        }
    } //.navbar-collapse
} //.navbar

.site-header {
    transition: $transition;

    &.initial {
        padding-top: 15px;
        @include media-breakpoint-up(lg) {
            padding-top: 103px;
        }
    } //&.initial

    &.bg-grad {
        .site-brand {
            span {
                color: $white;
            } //span
        } //.site-brand
    } //&.bg-grad
} //.site-header

.nav-link,
.dropdown-item {
    font-weight: 600;
    &.active {
        font-weight: 700;
    } //&.active
}

.search-form {
    @include bg-grad;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: $transition;

    &.open {
        opacity: 1;
        z-index: 9999;
    } //&.open

    h3 {
        font-size: 35px;
    } //h3

    #search {
        @include form-input;
    } //#search

    button {
        @include form-submit;
        font-size: 40px;
        right: 0 !important;
    } //button
} //.search-form